* {
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.sidebar {
    color: #0064aa;
    background: #e3e3e3;
    height: 100vh;
    width: 4%;
    position: fixed;
    z-index: 10000000;
}

.sidebar>ul {
    display: flex;
    flex-direction: column;
    background: #1f7680;
    height: 100%;
    width: 100%;
}

.sidebar:hover {
    width: 16%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.sidebar>ul>li {
    padding-left: 10px;
    height: 25%;
    width: 100%;
    color: #e3e3e3;
}

.sidebar>ul>li>a>span {
    color: white;
    overflow: hidden;
    display: none;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;


}

.sidebar:hover>ul>li>a>span {
    display: block;
    transition-delay: 3s;
    font-size: 90%;
}


.sidebar>ul>li>a {
    text-decoration: none;
    color: #e3e3e3;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.sidebar>ul>li>a>img {
    height: 20px;
    margin-right: 15px;
    box-sizing: border-box;
}

.tittle-side {
    background: #0f3b40;
}

.side-option-selected {
    border-right: 6px #0f565e solid;
    box-sizing: border-box;
}

.sidebar>ul>li:hover {
    background: rgb(38, 82, 87);

}



.content {
    width: 96%;
    margin-left: 4%;
    overflow-x: hidden;
}

.sidebar_sup {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #0f3b40;
    height: 12.5%;
    margin-bottom: 10px;
}

.sidebar_sup>img {
    height: 80%;
    margin-left: 40px;
}

.sidebar_sup>form>button {
    text-decoration: none;
    font-size: 18px;
    margin-right: 40px;
    color: #e3e3e3;
    border: none;
    background: none;
    position: relative;
}

.content-gen {
    width: 85%;
    height: 80%;
    margin: auto;
}




.preferencias {
    -webkit-align-self: flex-end;
    align-self: flex-end;
}

.grupo-botones {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.botones-prefer {
    background-color: #1f7680 !important;
    color: white !important;
}

.botones-prefer:hover {
    background-color: #186068 !important;
    color: white !important;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.grupo-prefer {
    position: absolute;
    grid-template-columns: auto auto;
    left: 75%;
    margin-top: 1%;
    display: grid;
    grid-gap: 3px;
}

.tabla_hover:hover {
    background: #0f565e !important;
}



/* Aqui empieza la pagina mostrar-libro */
.libro-content,
.comments {
    -webkit-box-shadow: 0px 0px 12px 1px rgba(166, 146, 166, 0.81);
    -moz-box-shadow: 0px 0px 12px 1px rgba(166, 146, 166, 0.81);
    box-shadow: 0px 0px 12px 1px rgba(166, 146, 166, 0.81);
    border-radius: 4px;
}

.libro-content {
    width: 100%;
    height: auto;
    max-height: 90%;
    margin: auto;
    display: flex;
}

.libro-content>img {
    object-fit: fill;
    margin: 10px auto;
    width: 15em;
    height: 20em;
}

.info-libro {
    margin: auto;
    width: 60%;
    height: 80%;

}

.info-libro p {
    text-align: justify;
    width: 90%;
    height: 60%;
    text-align: left;
    overflow-y: auto;
    scroll-margin: 50px 0 0 50px;
}

/* Tamaño del scroll */
.info-libro p::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Estilos barra (thumb) de scroll */
.info-libro p::-webkit-scrollbar-thumb {
    background: #0064aa;
    border-radius: 4px;
}


/* Estilos track de scroll */
.info-libro p::-webkit-scrollbar-track {
    background: #e3e3e3;
    border-radius: 4px;
    border: #0064aa;
}



.info-libro>ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.info-libro>ul>li {
    width: 50%;
    height: 20%;

}

.info-libro>ul>li>span {
    font-weight: 600;
    color: #1f7680;

}


.comments {
    width: 90%;
    height: 20%;
    margin: auto;
    margin-top: 30px;
}




/* view_produto */
.producto-content {
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
}

.producto-content {
    -webkit-box-shadow: 0px 0px 12px 1px rgba(166, 146, 166, 0.81);
    -moz-box-shadow: 0px 0px 12px 1px rgba(166, 146, 166, 0.81);
    box-shadow: 0px 0px 12px 1px rgba(166, 146, 166, 0.81);
    border-radius: 4px;
}

.preview_carousel {
    margin: 0 20px;
}

.preview_carousel>.carousel {
    margin: 20px 0;
    width: 30em !important;
    height: 20em !important;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
    background: #e3e3e3;

}


.preview_carousel>.carousel-inner {
    width: 100% !important;
    height: 100% !important;

}

.preview_carousel>.carousel-item {
    width: 100% !important;
    height: 100% !important;

}

.preview_carousel>.carousel-item>img {
    object-fit: cover !important;
    width: 100% !important;
    height: 100% !important;
}

.info-producto {
    margin: 10px 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:  space-between;
}

.info-producto p {
    text-align: justify;
    width: 90%;
    max-height: 200px;
    overflow-y: auto;;
    text-align: left;
    scroll-margin: 50px 0 0 50px;
}

/* Tamaño del scroll */
.info-producto p::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Estilos barra (thumb) de scroll */
.info-producto p::-webkit-scrollbar-thumb {
    background: #0064aa;
    border-radius: 4px;
}


/* Estilos track de scroll */
.info-producto p::-webkit-scrollbar-track {
    background: #e3e3e3;
    border-radius: 4px;
    border: #0064aa;
}



.info-producto>ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.info-producto>ul>li {
    width: 50%;
    height: 20%;

}

.info-producto>ul>li>span {
    font-weight: 600;
    color: #1f7680;

}


h5 span{
    color: #0064aa;
}

.galleria{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: calc(1em + 1vw);
    margin-bottom: 80px;
}
.box-group {
    display: flex;
    width: 90%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }

  .box-group > .box {
    width: 27%;
    height: 0;
    padding-bottom: 27%;
    position: relative;
    -webkit-box-shadow: 4px 0px 5px 1px rgba(204, 198, 204, 1);
    -moz-box-shadow: 4px 0px 5px 1px rgba(204, 198, 204, 1);
    box-shadow: 4px 0px 5px 1px rgba(204, 198, 204, 1);
    box-sizing: border-box;
    border-radius: 5px;
  }

  .box >img {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .box .info-box {
    width: 100%;
    min-height: 25%;
    height: auto;
    position: absolute;
    background-color: #00a19a;
    bottom: 0;
    opacity: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    font-size: 0.5em;
    transition: visibility 0s, opacity 0.3s ease-in-out;
  }
  .info-box > span:first-child {
    font-size: 1.3em;
    font-weight: 600;
    color: #fff;
    text-shadow: 1px 0px 10px rgba(0, 0, 0, 0.44);
    width: 90%;
    text-align: center;
  }

  .info-box > span:nth-child(2) {
    color: e3e3e3;
    font-style: oblique;
    font-size: 1.1em;
    width: 90%;
    text-align: center;
  }
  .box:hover .info-box {
    /* -webkit-box-shadow: 0px -8px 13px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -8px 13px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -8px 13px -5px rgba(0, 0, 0, 0.75); */
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 161, 153, 0.95);
  }

  .boton_registrar{
    width: 20%;
    float: right;
    margin: auto;
  }

.carousel-box{
    width: 9em !important;
    height: 9em !important;
    object-fit: cover;
}


.modal-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-body .carousel{
    height: 13em !important;
    width: 13em !important;

}

.modal-body .content-text-modal{
    /* background: #0064aa; */
    width: 13em;
    height: 13em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-body .content-text-modal span{
    text-align: right;
    font-size: 0.5em;
    float: right;
    font-weight: 600;
    color: #0064aa;
}
.modal-body .content-text-modal p{
    width: 100%;
    height: 90%;
    /* background: #00a19a; */
    text-align: justify;
    padding-left: 20px;
    font-size: 0.6em;
    overflow-y: auto;
}



