* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.content {
  height: auto;
  width: 100%;
}
@media (min-width: 900px) and (min-height: 500px) and (orientation: landscape),
  (orientation: landscape) {
  html {
    font-size: calc(1em + 1vw);
  }
  .header {
    min-height: 95vh;
    height: 100vh;
    width: 100%;
    background:
    /* top, transparent red */ radial-gradient(
        circle,
        rgba(110, 109, 109, 0.767) 0%,
        rgba(0, 0, 0, 0.7651260333234856) 50%,
        rgba(80, 80, 80, 0.767927153771665) 100%
      ),
      /* bottom, image */ url(../images/wallpaperdown2.jpg);
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 78%, 0 100%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 78%, 0 100%, 0 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .frase-portada {
    width: 50%;
    height: auto;
    margin: auto;
    text-align: center;
    color: #fff;
  }

  .frase-portada > span {
    width: 90%;
    display: block;
    margin: auto;
    color: #e5e5e5;
    font-size: 1.5em;
    text-shadow: 1px 0px 10px rgba(0, 0, 0, 0.44);
  }
  .frase-portada > p {
    width: auto;
    font-size: 0.8em;
    text-shadow: 1px 0px 10px rgba(0, 0, 0, 0.44);
  }
  .content>ul {
    display: flex;
    flex-direction: row;
    z-index: 1;
    opacity: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    height: 11vh;
    background: #00a19a;
    color: #fff;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 18px;
    font-weight: 400;
    position: fixed;
    top: 0;
    z-index: 9999999;
  }

  li {
    width: 10%;
    height: 100%;
    list-style: none;
  }

  li >a> img {
    background: #00a19a;
    width: 80%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin: auto;
    display: block;
  }

  li>.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: #fff;
  }
  .nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom center;
    background: #fff;
    z-index: -1;
    transition: transform 0.3s;
  }
  .nav:hover::after {
    transform: scaleY(1);
  }

  .nav:hover {
    color: #00a19a;
  }

  .destacado {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #333333;
  }
  .fotos {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: auto;
  }

  .destacado > h1,
  .fotos > h1,
  .mapa > h1 {
    font-weight: 600;
    font-size: 0.85em;
    font-weight: 800;
    color: #333333;

    align-items: center;
    justify-content: center;
    font-family: Arial;
  }
  .box-group {
    display: flex;
    width: 80%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }
  .box-group:last-child {
    margin-bottom: 40px;
  }
  .box-group > .box {
    width: 27%;
    height: 0;
    padding-bottom: 27%;
    position: relative;
    -webkit-box-shadow: 4px 0px 5px 1px rgba(204, 198, 204, 1);
    -moz-box-shadow: 4px 0px 5px 1px rgba(204, 198, 204, 1);
    box-shadow: 4px 0px 5px 1px rgba(204, 198, 204, 1);
    box-sizing: border-box;
    border-radius: 5px;
  }

  .box img {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .box .info-box {
    width: 100%;
    min-height: 25%;
    height: auto;
    position: absolute;
    background-color: #00a19a;
    bottom: 0;
    opacity: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    font-size: 0.5em;
    transition: visibility 0s, opacity 0.3s ease-in-out;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .info-box > span:first-child {
    font-size: 1.3em;
    font-weight: 600;
    text-shadow: 1px 0px 10px rgba(0, 0, 0, 0.44);
    width: 90%;
    text-align: center;
  }

  .info-box > span:nth-child(2) {
    color: e3e3e3;
    font-style: oblique;
    font-size: 1.1em;
    width: 90%;
    text-align: center;
  }
  .box:hover >.info-box {
    -webkit-box-shadow: 0px -8px 13px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -8px 13px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -8px 13px -5px rgba(0, 0, 0, 0.75);
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 161, 153, 0.95);
  }

  .separador {
    width: 100%;
    height: 35vh;
    position: relative;
    margin-bottom: 20px;
  }

  .background-separador {
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle,
        rgba(0, 161, 153, 0.637),
        rgba(33, 169, 162, 0.664),
        rgba(50, 177, 171, 0.616),
        rgba(65, 186, 180, 0.658),
        rgba(78, 194, 188, 0.664)
      ),
      url("../images/wallpaperdown2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(2px);
    position: absolute;
  }

  .separador > .contenido-separador {
    color: #000;
    text-align: center;
    position: relative;
  }

  .fotos h5 {
    font-weight: 100;
    font-style: oblique;
    font-size: 0.5em;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .mapa {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-around;
  }
  .mapa > iframe {
    width: 80%;
    margin-top: 40px;
    -webkit-box-shadow: 10px 0px 9px -3px rgba(140,138,140,1);
    -moz-box-shadow: 10px 0px 9px -3px rgba(140,138,140,1);
    box-shadow: 10px 0px 9px -3px rgba(140,138,140,1);
    margin-bottom: 80px;
  }




  .footer{
    width: 100%;
    height: 30vh;
    position: relative;
  }

  .contenido-footer{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
  }

  .info-local{
    width: 20%;
    height: 80%;
    display: flex;
    flex-direction: column;
    font-size: 0.6em;
    justify-content: space-around;
    color: #fff;
    font-family: Arial;
    font-weight: 700;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  }

  .contenido-footer > img{
    width: 20%;
  }

  .redes{
    font-size: 0.6em;
    font-family: Arial;
    color: #fff;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 20%;
    text-align: right;
  }

  .contenido-libros{
    min-height: 34vh;
    margin: 18vh auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .list-libros{
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
  }

  .list-libros>.box-group{
      width: 80% !important;
  }

  .list-libros>nav{
     margin-top: 11vh;
  }
  nav{
      width: 60%;
  }

  .contenido-libros>h2{
    display: block;
    height: 100%;
  }

}
