*{
    margin: 0;
    padding: 0;
}


body{
    height: 100vh;
    }

.fondo{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(4px);
}
/* Header Style */
.header{
    height: 60px;
    display: flex;
    align-items: center;
    position: fixed;
}
.header>a{
    display: block;
    margin-left: 150px;
    color: rgba(207, 207, 207,1);
    text-decoration: none;
    font-style: oblique;
    font-size: 18px;
}
/* END Header Style */

/* Container Style */
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}
.tittle{
    font-family: 'Raleway', sans-serif;
    color:white;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: center;
    width: 100%;
}
.tittle>h1{
    width: 70%;
    font-size: 50px;
    text-shadow:2px 3px 3px #a79e9e;
    font-style: oblique;
}
.login{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
 input{
    color: #1c1c1c;
    border: 2px solid #8b1a1a;

}
fieldset{
    width: 50%;
    height: 50%;
    padding: 40px 20px;
    border: 2px solid #8b1a1a;
    border-radius: 20px;
    background-color:rgba(217,226,231,0.7);
}
.fieldset{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

legend>img{
    border-radius: 50%;
    border: 2px solid #1c1c1c;
    height: 120px;
}

input, button{
    font-family: 'Quicksand', sans-serif;
    border-radius: 2px;
    height: 15%;
    width: 70%;
    text-align: center;
    font-size: 100%;
}
button{
    background-color: #8b1a1a;
    color:white;
    border: 0;
    box-shadow: 0px 3px 5px 0px rgba(90,88,88,1);
}

.help-block,h2{
    color: #8b1a1a;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}


/* END Container Style */