* {
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: row;
    color: #0064aa;
    background: #e3e3e3;
    height: 100%;
    width: 4%;
    position: fixed;

}

.sidebar > ul {
    display: flex;
    flex-direction: column;
    background: #1f7680;
    height: 100%;
    width: 100%;

}

.sidebar:hover {
    width: 16%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.sidebar> ul>li>a> span {
    color: white;
    overflow: hidden;
    display: none;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;


}
.sidebar:hover>ul>li>a> span {
    display: initial;
    transition-delay: 3s;
}

.sidebar > ul > li {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    align-items: center;
    justify-content: flex-start;
    height: 25%;
    width: 100%;
    color: #e3e3e3;
}
.sidebar > ul > li > a {
    text-decoration: none;
    color: #e3e3e3;
    width: 100%;
    /* display: flex; */
}
.sidebar > ul > li > a > img {
    width: 24px;
    margin-right: 15px;
}

.tittle-side {
    background: #0f3b40;
}





.content{
    width: 96%;
    margin-left: 4%;
}

.sidebar_sup {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #0f3b40;
    height: 12.5%;
}
.sidebar_sup > img {
    height: 80%;
    margin-left: 40px;
}
.sidebar_sup > form > button {
    text-decoration: none;
    font-size: 18;
    margin-right: 40px;
    color: #e3e3e3;
    border: none;
    background: none;
}