.contenedor-form{
    display: grid;
    grid-template-columns:  1fr 1fr;
}
.contenedor-form> form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-form-user{
    display: grid;
    grid-template-columns:   1fr;
}
.contenedor-form-user> form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputs{
    width: 80%;
    margin-bottom: 10px;
}
textarea{
    resize: none;
}


.contenedor-form #preview{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#preview>img{
    width: 80%;
    height: 80%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
}

